services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: pagamentos_webhook3
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d pagamentos_webhook3"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  web:
    build: .
    env_file:
      - .env.docker
    environment:
      DJANGO_SETTINGS_MODULE: app.settings.dev
      ALLOWED_HOSTS: "127.0.0.1,localhost"
      WEB_INTERNAL_PORT: "9000"       # porta interna do container
    ports:
      - "8090:9000"                   # host:container (host 8090 livre)
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    restart: unless-stopped

volumes:
  pgdata:
